
/* universal code here  */
/* universal code here  */

*{
    h2{
        display: flex;
        justify-content: center;
        align-items: center!important;
        
    }
    
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000000 !important;
  color: #fff;
  h2{
    align-items: center!important;
  }

}

