
/* universal code here  */
/* universal code here  */

*{
    h2{
        display: flex;
        justify-content: center;
        align-items: center!important;
        
    }
    
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000000 !important;
  color: #fff;
  h2{
    align-items: center!important;
  }

}






 
  
    


    /* planning parts  */
     
    /* .pricing-section {
      padding: 60px 20px;
      text-align: center;
    }
    .pricing-section h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    .pricing-section p {
      margin-bottom: 40px;
      font-size: 16px;
      color: #ccc;
    }
    .pricing-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    .card {
      background: #1a1c3a;
      border-radius: 12px;
      padding: 30px;
      width: 300px;
      transition: transform 0.4s ease, box-shadow 0.4s, background 0.4s;
      position: relative;
      overflow: hidden;
    }
    .card.highlight {
      /* background: linear-gradient(135deg, #ff00cc, #3333ff); */
    /*  color: #fafafa;
    }
    .card:hover {
      transform: translateY(-10px);
      background: linear-gradient(135deg, #ff00cc, #3333ff);
      box-shadow: 0 0 20px #3333ff;
      color: #fff;
    }
    .card .badge {
      background: #ff00cc;
      color: #fff;
      padding: 4px 12px;
      border-radius: 20px;
      font-size: 14px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .card.highlight .badge,
    .card:hover .badge {
      background: #ff00cc;
      color: #fff;
    }
    .price {
      font-size: 32px;
      margin: 30px 0 15px;
    }
    .features {
      list-style: none;
      margin-bottom: 20px;
    }
    .features li {
      padding: 8px 0;
    }
    .btn {
      padding: 10px 20px;
      border: none;
      background: #ff00cc;
      color: #ffffff;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }
    .card:hover .btn,
    .card.highlight .btn {
      background: #fff;
      color: #ff00cc;
    } */
  
 


   

     


/* coustomer say */
  

    
/* footer */
   
   







       













        